body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  /* == ASSIGNMENT == */
  padding: 8px;
}

.title {
  background: #e3f4ff;
  /* == ASSIGNMENT == */
  margin-bottom: 8px;
  padding: 8px;
  font-size: 16px;
  /* not part of spec, but looks better */
  margin-top: 0px;
}

.content {
  background: #e3f4ff;
  /* == ASSIGNMENT == */
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  /* == ASSIGNMENT == */
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  /* == ASSIGNMENT == */
  display: block;
  margin: auto;
  padding: 8px 24px;
}

/*
  >> NOTE <<
  Solution favours `margin: 0 auto;`. I did not think this was necessary; but,
  it makes sense to set rather than leave this styling to the whim of the
  browser.
*/
